{% extends 'app/index.html' %}

{% block title %}Download Links{% endblock %}

{% block content %}
  <h1 class="mt-auto">Youtube Video Downloader</h1>
  <p class="bold lead">Download your favorite youtube videos for free!!</p>
  <form method="post" action="">
    {% csrf_token %}
      <input type="label" class="form" name="given_url" placeholder="enter url..">
      <button type="submit" name="fetch-vid" value="fetch-vid" class="btn btn-success">Proceed</button>
    <br><br>
  </form>

  <h3 class="text-white">{{title}}</h3>  
  <div class="d-flex justify-content-center" style="background-color:#FC766AFF;">
      <div class="col"><h4>Quality</h4></div>
      <div class="col"><h4>File Extension</h4></div>
      <div class="col"><h4>Download Link</h4></div>
  </div>
  {% for x in vids %}
    <div class="d-flex justify-content-center" style="background-color:#184A45FF;">
      <div class="col-md-4"><h5>{{x.height}}</h5></div>
      <div class="col-md-4"><h5>{{x.ext}}</h5></div>
      <div class="col-md-4"><a href="{{x.url}}" target="_blank"><h5>Download</h5></a></div><br>
    </div>
  {% endfor %}
{% endblock %}